<div class="container">
  <div class="intro">
    <div class="name-title">
      <h1>CREATIVE</h1>
      <h1 class="designer-title">DESIGNER &</h1>
      <h1>DEVELOPER</h1>
    </div>
    <div class="navigation">
      <a href="#projects">
        <i class="fas fa-chevron-down"></i>
      </a>
    </div>
  </div>
  <div class="about">
    <h3>WHO AM I ?</h3>
    <div class="info-about">
      <%= image_tag "prof-pic.png", alt: "alttext", class: "avatar-pins" %>
      <p>杜愛萍
        <br>
        Ai Peng Thoo (Pins)
        <br>
        A 27 yo malaysian creative designer & developer.
        <br>
        I've just completed the full stack coding bootcamp at Le Wagon Tokyo.
        <br>
        My dream is to create and build both useful and beautiful products that helps people.<br>
        I've been doing freelance graphic design projects for about 2 years.<br>
        Based in Kuala Lumpur, Malaysia. Available worldwide.</p>
    </div>
  </div>
  <div class="services" id="services">
    <h2>What I Do ?</h2>
    <p>
      Graphic Design, <br>
      Web Developing, <br>
      UI Design, <br>
      Art Direction.
    </p>
  </div>
  <div class="app" id="projects">
    <h2>Web App Projects</h2>
    <div class="card-deck">
      <div class="card-project">
        <a href="https://www.happyyou.xyz/" target="_blank">
          <div class="card-image">
            <%= image_tag("happyhappy.png", alt: "happy screenshot") %>
          </div>
          <div class="card-text">
            <h3>Happy</h3>
            <div class="card-date">
              <p>A PWA that allows you to track your mood and activities and able to see which activity made the user happiest</p>
              <%= image_tag "link.svg", alt: "alttext", class: "link-margin" %>
            </div>
          </div>
        </a>
      </div>
      <div class="card-project">
        <a href="https://pick-a-sitter.herokuapp.com/" target="_blank">
          <div class="card-image">
            <%= image_tag("babybaby.png", alt: "babysitter screenshot") %>
          </div>
          <div class="card-text">
            <h3>Pick-a-Sitter</h3>
            <div class="card-date">
              <p>A service that helps families find a babysitter near them and able to book them</p>
              <%= image_tag "link.svg", alt: "alttext", class: "link-margin" %>
            </div>
          </div>
        </a>
      </div>
      <div class="card-project">
        <a href="https://the-bartender.herokuapp.com/" target="_blank">
          <div class="card-image">
            <%= image_tag("barbar.png", alt: "bar screenshot") %>
          </div>
          <div class="card-text">
            <h3>The Bartender</h3>
            <div class="card-date">
              <p>A web app for storing and creating your favourite cocktail recipes</p>
              <%= image_tag "link.svg", alt: "alttext", class: "link-margin" %>
            </div>
          </div>
        </a>
      </div>
    </div>
  </div>
  <div class="design" id="graphics">
    <h2>Graphics</h2>
    <div class="logo">
      <h2>Logo Design</h2>
      <%= image_tag "decor-logo.png", alt: "alttext", class: "avatar-logo" %>
      <%= image_tag "write-it.png", alt: "alttext", class: "avatar-logo" %>
      <%= image_tag "NOVID.png", alt: "alttext", class: "avatar-logo" %>
      <%= image_tag "grey-white.png", alt: "alttext", class: "avatar-logo" %>
      <%= image_tag "tp1.png", alt: "alttext", class: "avatar-logo" %>
    </div>
    <div class="illustration">
      <h2>Digital Illustration</h2>
      <h2>Dogs</h2>
      <%= image_tag "dog-1.png", alt: "alttext", class: "avatar-dog" %>
      <%= image_tag "dog-2.png", alt: "alttext", class: "avatar-dog" %>
      <%= image_tag "dog-3.png", alt: "alttext", class: "avatar-dog" %>
      <%= image_tag "dog-4.png", alt: "alttext", class: "avatar-dog" %>
      <h2>Plants</h2>
      <%= image_tag "21.png", alt: "alttext", class: "avatar-dog" %>
      <%= image_tag "22.png", alt: "alttext", class: "avatar-dog" %>
      <%= image_tag "23.png", alt: "alttext", class: "avatar-dog" %>
      <%= image_tag "24.png", alt: "alttext", class: "avatar-dog" %>
      <%= image_tag "25.png", alt: "alttext", class: "avatar-dog" %>
      <%= image_tag "26.png", alt: "alttext", class: "avatar-dog" %>
      <%= image_tag "27.png", alt: "alttext", class: "avatar-dog" %>
      <%= image_tag "28.png", alt: "alttext", class: "avatar-dog" %>
      <%= image_tag "30.png", alt: "alttext", class: "avatar-dog" %>
    </div>
    <div class="social-media">
      <h2>Social Media Design</h2>
      <%= image_tag "sm-1.png", alt: "alttext", class: "avatar-pins" %>
      <%= image_tag "sm-2.png", alt: "alttext", class: "avatar-pins" %>
      <%= image_tag "sm-3.png", alt: "alttext", class: "avatar-pins" %>
      <%= image_tag "sm-4.png", alt: "alttext", class: "avatar-pins" %>
      <%= image_tag "sm-5.png", alt: "alttext", class: "avatar-pins" %>
      <%= image_tag "sm-6.png", alt: "alttext", class: "avatar-pins" %>
      <%= image_tag "sm-7.png", alt: "alttext", class: "avatar-pins" %>
      <%= image_tag "sm-8.png", alt: "alttext", class: "avatar-pins" %>
    </div>
    <div class="packaging">
      <h2>Packaging</h2>
      <%= image_tag "product-1.png", alt: "alttext", class: "avatar-pins" %>
      <%= image_tag "product-3.png", alt: "alttext", class: "avatar-pins" %>
      <%= image_tag "product-4.png", alt: "alttext", class: "avatar-pins" %>
      <%= image_tag "product-5.png", alt: "alttext", class: "avatar-pins" %>
      <%= image_tag "product-6.png", alt: "alttext", class: "avatar-pins" %>
    </div>
  </div>
  <div class="freelance" id="freelance">
    <h2>Contact</h2>
    <div class="link-info">
      <a href="mailto:aipeng.thoo@gmail.com">
        <i class="fas fa-envelope" style="font-size:28px;padding: 0 16px;"></i>
      </a>
      <a href="https://github.com/pins-thoo" target="_blank">
        <i class="fab fa-github" style="font-size:28px;padding: 0 16px;"></i>
      </a>
      <a href="https://www.linkedin.com/in/pins-thoo/" target="_blank">
        <i class="fab fa-linkedin" style="font-size:28px;padding: 0 16px;"></i>
      </a>
    </div>
  </div>
</div>